.menu-box {

   transition: all 200ms ease-in
}

.point {
   cursor: pointer;
}

.warning-box {

   border: 1px solid red;
   border-radius: 6px;
}

.point-input {
   border: none;
   outline: none;
   font-size: 12px;
   width: 100%;
}

.point-form {
   border-bottom: 1px solid #a31423;
}

.icon {
   cursor: pointer;
   color: rgb(255, 58, 58);
}

.icon:hover {
   transform: scale(1.1);
}

.view-box-form {
   
   height: 68vh;
   overflow-y: auto;
}

.view-box {
   
   height: 73vh;
   overflow-y: auto;
}

.header-box {
   z-index: 1;
   background-color: white;
}

.date-picker {
   height: calc(1.5em + .5rem + 2px);
   padding: .25rem .5rem;
   font-size: .875rem;
   line-height: 1.5;
   border: 1px solid #ced4da;
   border-radius: .2rem;
   width: 100%;
}

.react-datepicker__input-container {
   width: 100%;
}  

.react-datepicker-wrapper {
   width: 100%;
}  


.list-group-item:hover {

   transform: scale(1.01);
   box-shadow: 0 0.2rem 1rem rgba(0,0,0,.15);
   z-index: 1;
}

.contract-point{
   padding: 5px;
   border: 1px solid #c1c1c2;
   border-radius: 4px;
   background-color: white;
}
div[class^="col-"] {

   transition: all 200ms ease-in-out;
}